<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net452" />
  <package id="LibGit2Sharp-SSH" version="1.0.22" targetFramework="net452" />
  <package id="LibGit2Sharp-SSH.NativeBinaries" version="1.0.14" targetFramework="net452" />
  <package id="MadMilkman.Ini" version="1.0.6.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="Octokit" version="0.32.0" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
  <package id="SharpBucket" version="0.8.0" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net452" />
  <package id="Unity" version="5.11.1" targetFramework="net452" />
</packages>